.activities{
    /* border: 2px solid black; */
    height: 160rem;
}
.cycling{
    background-size:cover;
    background-repeat: no-repeat;
    height: 40rem;
    /* border: 2px solid black; */
}
.activities h1{
    color: rgb(216,136,12);
}
.trekking{
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 40rem;
    /* border: 2px solid black; */
}
.birding{
    height: 40rem;
}
.kayaking{
    height: 40rem;
}